<button class="cursor-pointer navbar-link" (click)="goBack()">← Back</button>

<section>
  <h2>Request details</h2>
  <dl>
    <dt>Client IP</dt>
    <dd><code>{{requestDetails.clientIP}}</code></dd>
    <dt>Headers</dt>
    <dd class="code-block"><code class="language-json">{{requestDetails.headers}}</code></dd>
    <dt>Host</dt>
    <dd><code>{{requestDetails.host}}</code></dd>
    <dt>Method</dt>
    <dd><code>{{requestDetails.method}}</code></dd>
    <dt>Path</dt>
    <dd><code>{{requestDetails.path}}</code></dd>
    <dt>Referrer</dt>
    <dd><code>{{requestDetails.referrer}}</code></dd>
    <dt>Time</dt>
    <dd><code>{{requestDetails.time}}</code></dd>
    <dt>UID</dt>
    <dd><code>{{requestDetails.uid}}</code></dd>
    <dt>URL</dt>
    <dd><code>{{requestDetails.url}}</code></dd>
    <dt>User Agent</dt>
    <dd><code>{{requestDetails.userAgent}}</code></dd>
    <dt>Body</dt>
    <dd><code>{{requestDetails.body}}</code></dd>
  </dl>

  <h1>Response details</h1>
  <dl>
    <dt>Client IP</dt>
    <dd><code>{{responseDetails.clientIP}}</code></dd>
    <dt>Headers</dt>
    <dd class="code-block"><code class="language-json">{{responseDetails.headers}}</code></dd>
    <dt>Path</dt>
    <dd><code>{{responseDetails.path}}</code></dd>
    <dt>Size</dt>
    <dd><code>{{responseDetails.size}}</code></dd>
    <dt>Status</dt>
    <dd><code>{{responseDetails.status}}</code></dd>
    <dt>Time</dt>
    <dd><code>{{responseDetails.time}}</code></dd>
    <dt>RequestUID</dt>
    <dd><code>{{responseDetails.requestUID}}</code></dd>
    <dt>UID</dt>
    <dd><code>{{responseDetails.uid}}</code></dd>
    <dt>Body</dt>
    <dd class="code-block"><code class="language-json">{{responseDetails.body}}</code></dd>
  </dl>
</section>
