@import '~highlight.js/styles/darcula.css';
body {
  line-height: 1.2em;
}
$main-highlight-color: #7cc3bf;

.navbar-link {
	text-decoration: none;
	color: #fff;
	border: none;
}

.active-navbar-link {
	text-decoration: none;
	color: $main-highlight-color;
}

.navbar-link:hover {
	text-decoration: underline;
	color: $main-highlight-color;
}

.detailed-view {
  line-height: 2.0em;
}
