<table class="goscope-entries-table">
  <tr>
    <th class="custom-td">Status</th>
    <th class="custom-td">Verb</th>
    <th class="custom-td text-center">Path</th>
    <th class="custom-td">Happened</th>
    <th class="custom-td"></th>
  </tr>

  <tr *ngFor="let request of requests" class="text-center">
    <td class="p-3 custom-td">{{request.responseStatus}}</td>
    <td class="monospaced p-3 custom-td">{{request.method}}</td>
    <td class="p-3 custom-td">{{request.path}}</td>
    <td class="p-3 custom-td">{{request.time}}</td>
    <td class="p-3 custom-td">
      <a routerLink="/requests/{{request.uid}}" class="cursor-pointer">
      View
    </a>
    </td>

  </tr>

</table>
<router-outlet></router-outlet>
