:root {
    --links: #7CC3BF;
    --code: #ccc;
}

@media (prefers-color-scheme: light) {
    :root {
        --links: #6CA8A5;
    }
}
dt {
    margin-bottom: 6px;
}

dd {
    margin-bottom: 10px;
}

.code-block {
    background: var(--background);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

code {
    font-family: "Fira Mono", monospace;
}

.badge-success {
    padding: 4px;
    border-radius: 4px;
    color: #fff;
    background-color: #1f9d55;
}

.badge-info {
    padding: 4px;
    border-radius: 4px;
    color: #fff;
    background-color: #1c3d5a;
}

.badge-turq {
    padding: 4px;
    border-radius: 4px;
    color: #fff;
    background-color: #503194;
}

.badge-secondary {
    border-radius: 4px;
    padding: 4px;
    color: #fff;
    background-color: #494444;
}

.badge-danger {
    border-radius: 4px;
    padding: 4px;
    color: #fff;
    background-color: #621b18;
}

.badge-warning {
    border-radius: 4px;
    padding: 4px;
    color: #fff;
    background-color: #684f1d;
}

.svg-icon {
    fill: var(--text-main);
}

button:hover .svg-icon,
a:hover .svg-icon {
    fill: var(--links) !important;
}

.eye-link {
    color: var(--text-main);
    fill: var(--text-main);
}
.eye-link:hover {
    color: var(--links);
    fill: var(--links);
}

.search-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.search-bar > .vue-tags-input {
  flex-grow: 1;
}

.vue-tags-input {
  margin-right: 6px;
  margin-bottom: 6px;
  min-width: 220px;
  background-color: var(--background) !important;
}
.vue-tags-input,
.vue-tags-input * {
border-radius: 6px;
}
.vue-tags-input.ti-focus {
  box-shadow: 0 0 0 2px var(--focus);
}
.vue-tags-input .ti-input {
  padding: 0 !important;
  border: none !important;
  background-color: var(--background) !important;
}
.vue-tags-input .ti-new-tag-input-wrapper {
  padding: 0 !important;
  font-size: inherit !important;
}
.vue-tags-input .ti-new-tag-input {
  padding: 10px !important;
}
.vue-tags-input .ti-new-tag-input:focus {
  box-shadow: none !important;
}

.vue-tags-input .ti-autocomplete {
  border-radius: 0 0 6px 6px !important;
  border: 2px solid var(--focus) !important;
  border-top: none !important;
  background-color: var(--background-body) !important;
}

.vue-tags-input .ti-autocomplete .ti-item.ti-selected-item {
  background-color: var(--focus) !important;
}
