/*
    License: MIT
    Authors:
        - Josep Bigorra (averageflow)
 */

:root {
	--main-highlight-color: #7cc3bf;
}

body {
	background: #1c1c1c;
	color: #fff;
	font-family: 'Manrope', 'sans-serif';
}

code {
	font-family: 'Fira Mono', monospace;
}


