/*
    License: MIT
    Authors:
        - Josep Bigorra (averageflow)
 */



.navbar-link {
	text-decoration: none;
	color: #fff;
	border: none;
}

.active-navbar-link {
	text-decoration: none;
	color: var(--main-highlight-color);
}

.navbar-link:hover {
	text-decoration: underline;
	color: var(--main-highlight-color);
}

.search-input {
	background: #232323;
	color: #fff;
	border-radius: 8px;
	border-color: #454545;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
	width: 1em;
	height: 1em;
}

.svg-icon {
	fill: #fff;
}

.svg-icon:hover {
	fill: var(--main-highlight-color);
}

.svg-icon circle {
	stroke: #ffffff;
	stroke-width: 1;
}
.navbar-container {
background: #333;
font-family: 'Manrope', 'sans-serif';
}


