.goscope-entries-table {
	min-width: 70%;
	max-width: 85%;
	line-height: 1.6em;
	margin: 0 auto;
}
table {
	border-spacing: 2px;
	border-collapse: separate;
}
.custom-td {
	background: #2b2b2d;
	color: #fff;
}

th {
	border-radius: 4px;
}
