/*
    License: MIT
    Authors:
        - Josep Bigorra (averageflow)
        - Lucian Last (lil5)
 */

:root {
    --main-highlight-color: #7cc3bf;
    --main-text-color: #fff;
    --main-background-color-400: #454545;
    --main-background-color-600: #2B2B2D;
    --main-background-color-700: #232323;
    --main-background-color-800: #1c1c1c;
}

h1, h2, h3 {
    font-family: "Manrope", "sans-serif";
}

input[type='search'],
input[type='text'] {
    outline: none;
}

body {
    background: var(--main-background-color-800);
    color: var(--main-text-color);
    font-family: "Manrope", "sans-serif";
}

code,
.monospaced {
    font-family: "Fira Mono", monospace
}

.navbar-link {
    text-decoration: none;
    color: var(--main-text-color);
    border: none;
}

.active-navbar-link {
    text-decoration: none;
    color: var(--main-highlight-color);
}

.navbar-link:hover {
    text-decoration: underline;
    color: var(--main-highlight-color);
}

.custom-td {
    background: var(--main-background-color-600);
}

.eye-image {
    fill: var(--main-text-color);
}

.eye-image:hover {
    fill: var(--main-highlight-color);
}

table {
    border-spacing: 2px;
    border-collapse: separate;
}

.paginate-button {
    color: var(--main-text-color);
    border: none;
}

.paginate-button:hover {
    color: var(--main-highlight-color);
    text-decoration: underline;
}

.tab-button {
    color: var(--main-text-color);
    background: var(--main-background-color-600);
}

.badge-success {
    color: var(--main-text-color);
    background-color: #1f9d55;
}

.badge-info {
    color: var(--main-text-color);
    background-color: #1c3d5a;
}

.badge-turq {
    color: var(--main-text-color);
    background-color: #503194;
}

.badge-secondary {
    color: var(--main-text-color);
    background-color: #494444;
}

.badge-danger {
    color: var(--main-text-color);
    background-color: #621b18;
}

.badge-warning {
    color: var(--main-text-color);
    background-color: #684f1d;
}

.search-input {
    background: var(--main-background-color-700);
    color: var(--main-text-color);
    border-color: var(--main-background-color-400);
    transition: border-color 0.2s ease-in;
}
.search-input:focus,
.search-input:active {
    border-color: var(--main-highlight-color);
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon {
    fill: var(--main-text-color);
}

.svg-icon:hover {
    fill: var(--main-highlight-color);
}

.svg-icon circle {
    stroke: var(--main-text-color);
    stroke-width: 1;
}
