:root {
  --links: #7CC3BF;
}
@media (prefers-color-scheme: light) {
  :root{
    --links: #6CA8A5;
  }
}

dt {
  margin-bottom: 6px;
}
dd {
  margin-bottom: 10px;
}

.text-center{
  text-align: center;
}
.text-right {
  text-align: right;
}

code {
  font-family: 'Fira Mono', monospace;
}

.badge-success {
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  background-color: #1f9d55;
}

.badge-info {
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  background-color: #1c3d5a;
}

.badge-turq {
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  background-color: #503194;
}

.badge-secondary {
  border-radius: 4px;
  padding: 4px;
  color: #fff;
  background-color: #494444;
}

.badge-danger {
  border-radius: 4px;
  padding: 4px;
  color: #fff;
  background-color: #621b18;
}

.badge-warning {
  border-radius: 4px;
  padding: 4px;
  color: #fff;
  background-color: #684f1d;
}

.svg-icon {
  fill: var(--text-main);
}
button:hover,
a:hover {
  & .svg-icon {
    fill: var(--links) !important;
  }
}

/*

Darcula color scheme from the JetBrains family of IDEs

*/


@import "~prismjs/plugins/toolbar/prism-toolbar.css";

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: 'Fira Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8292a2;
}

.token.punctuation {
	color: #f8f8f2;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: var(--code);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
